<!--  ======================== Start Top Product Area =============================-->

<div  class="text-center font-weight-bolder" >
    <div  style="background-color:#8c3897">      
        <h2 style="margin: 5px;color: white;font-size:3rem;padding: 2px;"> Top Products</h2>
    </div>
        <div class="row col-md-12">
            <div class="card-deck">
               <div class="card" style="border: none;">
                  <img src="./uploads/bd.jpg" class="img-thumbnail rounded-circle" alt="birthday">
                     <div class="card-title" style="background-color: none;">
                        <small class="text-title" style="color: #8c3897;font-size: 2rem;">Birthday</small>
                           <div class="card-body">
                              <h5 class="card-title ">neznam</h5>
                              <p class="card-text">Цена.....<span style="font-size: 1.5rem; font-weight: bolder;">1200</span> денари</p>
                              <a href="#" class="btn font-weight-bold text-center text-white" style="background-color: #8c3897;"> Додај во корпа</a>
                           </div>
                     </div>
               </div>
               <div class="card" style="border: none;">
                  <img src="./uploads/F30Rose.jpg" class="img-thumbnail rounded-circle" alt="flowers">
                    <div class="card-title" style="background-color: none;">
                        <small class="text-title" style="color: #8c3897; font-size: 2rem;">Flowers</small>
                        <div class="card-body">
                          <h5 class="card-title ">neznam</h5>
                          <p class="card-text">Цена.....<span style="font-size: 1.5rem; font-weight: bolder;">1200</span> денари</p>
                          <a href="#" class="btn font-weight-bold text-center text-white" style="background-color: #8c3897;"> Додај во корпа</a>
                       </div>
                      </div>
               </div>
               <div class="card" style="border: none;">
                  <img src="./uploads/drinks.jpg" class="img-thumbnail rounded-circle" alt="drinks">
                    <div class="card-title" style="background-color: none;">
                        <small class="text-title" style="color: #8c3897;font-size: 2rem;">Drinks</small>
                        <div class="card-body">
                          <h5 class="card-title ">neznam</h5>
                          <p class="card-text">Цена.....<span style="font-size: 1.5rem; font-weight: bolder;">1200</span> денари</p>
                          <a href="#" class="btn font-weight-bold text-center text-white" style="background-color: #8c3897;"> Додај во корпа</a>
                       </div>
                      </div>
               </div>
               <div class="card" style="border: none;">
                  <img src="./uploads/choc.jpg" class="img-thumbnail rounded-circle" alt="cake">
                    <div class="card-title" style="background-color: none;">
                        <small class="text-title" style="color: #8c3897;font-size: 2rem ;">Cake and Confectionery</small>
                        <div class="card-body">
                          <h5 class="card-title ">neznam</h5>
                          <p class="card-text">Цена.....<span style="font-size: 1.5rem; font-weight: bolder;">1200</span> денари</p>
                          <a href="#" class="btn font-weight-bold text-center text-white" style="background-color: #8c3897;"> Додај во корпа</a>
                       </div>
                      </div>
               </div>
            </div>
        </div>            
</div>    

  <!--  =====xx=================== End Top Product Area =========xx=====================-->